<ActionBar class="action-bar" title="Animation Benchmark">
  <NavigationButton text="Go Back" android.systemIcon="ic_menu_back" (tap)="onBackTap()"></NavigationButton>
</ActionBar>
<FlexboxLayout justifyContent="space-between" alignItems="baseline">
  <Label id="view1" text="" width="10" height="10" backgroundColor="rgba(98, 0, 238, 1)"></Label>
  <Label id="view2" text="" width="10" height="10" backgroundColor="rgba(98, 0, 238, 1)"></Label>
  <Label id="view3" text="" width="10" height="10" backgroundColor="rgba(98, 0, 238, 1)"></Label>
  <Label id="view4" text="" width="10" height="10" backgroundColor="rgba(98, 0, 238, 1)"></Label>
  <Label id="view5" text="" width="10" height="10" backgroundColor="rgba(98, 0, 238, 1)"></Label>
  <Label id="view6" text="" width="10" height="10" backgroundColor="rgba(98, 0, 238, 1)"></Label>
</FlexboxLayout>