<ActionBar class="action-bar" title="Native Script Benchmark">
</ActionBar>

<StackLayout class="page">
    <!-- Add your page content here -->
    <Button class="btn-primary btn-active" id="button" text="Navigation Benchmark" (tap)="navigateTo('navigation')"></Button>
    <Button class="btn-primary btn-active" id="button" text="Rendering Benchmark" (tap)="navigateTo('rendering')"></Button>
    <Button class="btn-primary btn-active" id="button" text="Animation Benchmark" (tap)="navigateTo('animation')"></Button>
    <Button class="btn-primary btn-active" id="button" text="Computing Benchmark" (tap)="navigateTo('computing')"></Button>
</StackLayout>